 /* Left side bar  (Dashboard Page) css  */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 14px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.cb-bg-dark{
    background-color: #000;
}
a.submenus-style {
    background: rgb(255, 255, 255);
    opacity: 0.8;
    color: #000!important;
}

.top-menu-bar button i{
    background-color: #d9d9d9;
    color: #000;
    border: solid 1px #ccc;
    padding: 8px 9px;
    border-radius: 50%;
    font-size: 18px;
}
.top-menu-bar .dropdown-toggle::after{
    visibility: hidden;
}
.top-menu-bar .dropdown-menu{
    right: 0 !important;
    left: auto !important;
    font-size: 13px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar li.active {
    background-color: transparent;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #000000;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: inline-block;
    width: 100%;
}

#sidebar ul li a:hover {
    color: #02071a;
}

#sidebar ul li a i{
    font-size: 30px;
    float: left;
}
#sidebar ul li a img{
    float: left;
}
#sidebar ul li a span{
    float: left;
    padding-top: 4px;
}
.search-bar-top .search-btn{
    background-color: white;
    color: #000;
}
.search-bar-top .input-group{
    margin-left: -20px;
}
.search-bar-top input#form1{
    border-radius: 0 4px 4px 0;
    border:0 none;
    font-size: 13px;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #2a3a81;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    color: #7386D5;
}
a{
    text-decoration: none;
    color: white !important;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
    text-decoration: none;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

a.material-symbols-outlined.inner-card {
    background: #D9D9D9;
    padding: 32px;
    border-radius: 10px;
}
.card.d-flex.justify-content-center.align-items-center.outer-card {
    padding: 2rem 4rem;
    border: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar.sidebar-inactive {
        margin-left: -250px;
    }
    #sidebar.sidebar-active{
        position: absolute;
        z-index: 1;
        height: 100%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    CHATBOTLIST CSS
----------------------------------------------------- */


a{
    color: #545454 !important;
}

a.nav-link.active.text-decoration-none.font-weight-bold {
    border-bottom: 3px solid #b699f9;
    border-radius: 1px;
}

.w-65{
    width: 65% !important;
}

p.card-text.float-left {
    font-weight: 500;
    font-size: 16px;
    background: #f1f1f0;
    padding: 14px;
    border-radius: 6px;
}


p.card-text.float-right {
    font-weight: 500;
    font-size: 16px;
    background: #3b81f6;
    color: white;
    padding: 14px;
    border-radius: 6px;
}

input[type="text\ input-text-style"] {
    padding: 10px;
    border: none;
    width: 90%;
}
input[type="text\ input-text-style"]:focus-visible {
    padding: 10px;
    border: none;
    width: 90%;
}

@media screen and (min-width: 1600px) {
    .chatbot-container{
        width: 65%;
    }
}

@media (max-width: 768px){
    .nav{
        display: block !important;
    }
}


.bg-info-style {
    background-color: #56DCCB !important;
}

.color-red{
    color:red;
}

.danger-zone{
    background-color: white;
    font-size: 16px;
    font-weight: 400;
    color:red;
}

.danger-icon{
    background: #fee2e2;
    padding: 10px;
    border-radius: 24px;
}


/* ---------------------------------------------------
    SOURCES LIST CSS
----------------------------------------------------- */



/* styles.css */
.content {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    margin: 0;
    text-align: center;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    color: #717179;
}

.menu-div {
    box-sizing: border-box;
    grid-column: span 2 / span 2;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.box-size {
    box-sizing: border-box;
}

.random-box-style {
    box-sizing: border-box;
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
}

.random-box-style-2 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: flex-end;
}

.absolute-box-style-55 {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.button-style-12 {
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 8px;
    appearance: button;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: rgb(63, 63, 70);
}

.hidden-style-55 {
    box-sizing: border-box;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.block-style-8 {
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
}

.flex-container {
    box-sizing: border-box;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 20px;
    border-color: rgb(228, 228, 231);
    background-color: rgb(255, 255, 255);
    display: flex;
}


.nav-div {
    box-sizing: border-box;
    flex-grow: 1;
    row-gap: 20px;
    border-color: rgb(228, 228, 231);
    background-color: rgb(255, 255, 255);
    display: flex;

}

.div-con-iner {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 1 1 0%;
    list-style-type: none;
}

.list-style-type {
    list-style-type: none;
}

.div-con-inner-2 {
    margin: 0;
    padding: 15px;
    background-color: #d9e1e3;
}

.custom-style-129 {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(63, 63, 70);
    /* color: rgb(124, 58, 237); */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.additional-styles-78 {
    column-gap: 12px;
    line-height: 24px;
    color: rgb(63, 63, 70);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.additional-styles-9 {
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    color: rgb(63, 63, 70);
    /* color: rgb(124, 58, 237); */
}

.common-styles-svg {
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 0px;

}

.anchor-tag-main {
    box-sizing: border-box;
    display: flex;
    column-gap: 12px;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(63, 63, 70);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.svg-main-styles {
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    color: rgb(161, 161, 170);

}

.gap-20 {
    gap: 20px;
}

.input-group-text {
    /* width: fit-content; */
    width: 100%;
}

.input-fiels-style {
    box-sizing: border-box;
    border-width: 1px;
    border-color: rgb(229, 229, 229);
    padding: 64px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border: 1px solid rgb(228, 228, 231);

}




.file-container {
    box-sizing: border-box;
    margin: 0px 0px 40px;
    border-radius: 4px;
    border: 1px solid rgb(228, 228, 231);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.file-header {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(228, 228, 231);
    padding: 16px 20px;
}

.file-title {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(24, 24, 27);
}

.file-content {
    box-sizing: border-box;
    padding: 20px;
}

.file-drop-area {
    box-sizing: border-box;
    border: 1px solid rgb(229, 229, 229);
    padding: 64px;
}

.file-input {
    display: none;
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}

.file-upload-area {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.file-icon {
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    fill: currentcolor;
}

.file-upload-text {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.file-help-text {
    box-sizing: border-box;
    font-size: 12px;
    line-height: 16px;
    color: rgb(113, 113, 122);
}

.file-input-help {
    box-sizing: border-box;
    margin: 8px 0px 0px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(113, 113, 122);
}




.card-sidebar {
    background-color: #d9e1e3 !important;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 1px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0px;
    border: 1px solid rgb(229, 231, 235);
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-header-sidebar {
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.card-title-sidebar {
    margin: 0;
}

.card-content-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.character-count-sidebar {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
}

.label-sidebar {
    font-weight: 600;
}

.value-sidebar {
    display: flex;
    justify-content: center;
}

.count-sidebar {
    font-weight: 700;
}

.limit-sidebar {
    color: rgb(113, 113, 122);
}

.create-chatbot-button-sidebar {
    box-sizing: border-box;
    font-size: 14px;
    margin: 16px 0px 0px;
    padding: 4px 16px;
    appearance: button;
    background-color: rgb(24, 24, 27);
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    width: 100%;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;

}




.container-input-div {
    max-width: 672px;
    /* width: 66.6667%; */
    background-color: #fff;
    color: #000;
    font-size: 16px;
    margin: 0;
    text-align: left;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
}

.input-section {
    margin-bottom: 40px;
    border-radius: 4px;
    border: 1px solid #e4e4e7;
    box-sizing: border-box;
}

.input-header {
    border-bottom: 1px solid #e4e4e7;
    padding: 16px 20px;
    box-sizing: border-box;
}

.input-header h3 {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #242427;
    box-sizing: border-box;
}

.input-field {
    padding: 20px;
    box-sizing: border-box;
}

.text-input {
    width: 100%;
    font-size: 14px;
    margin: 8px 0;
    padding: 4px 12px;
    resize: vertical;
    border-radius: 6px;
    border: 1px solid rgba(24, 24, 27, 0.1);
    background-color: #fff;
    color: #242427;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0), 0 4px 6px -1px rgba(39, 39, 42, 0.05), 0 2px 4px -2px rgba(39, 39, 42, 0.05);
    line-height: 20px;
    box-sizing: border-box;
}

.text-input__info {
    margin: 0;
    height: 32px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #52525b;
    box-sizing: border-box;
}

/* third */

.container-third {
    box-sizing: border-box;
    margin: 0px 0px 40px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(228, 228, 231);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    border: 1px solid rgb(228, 228, 231);
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header-third {
    box-sizing: border-box;
    border-bottom-width: 1px;
    border-color: rgb(228, 228, 231);
    padding: 16px 20px;
    border: 1px solid rgb(228, 228, 231);
}

.header-third h3 {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px !important;
    line-height: 24px;
    font-weight: 600;
    color: rgb(24, 24, 27);
}

.content-third {
    box-sizing: border-box;
    padding: 20px;
}

.crawl-section-third,
.sitemap-section-third {
    box-sizing: border-box;
    margin-bottom: 16px;
}

.label-third {
    box-sizing: border-box;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: rgb(24, 24, 27);
}

.input-section-third {
    box-sizing: border-box;
    position: relative;
    margin-top: 8px;
    border-radius: 6px;
    display: flex;
    gap: 10px;
}

.input-section-third input {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0px;
    padding: 8px 12px;
    display: flex;
    height: 36px;
    width: 100%;
    border-radius: 6px;
    border-width: 1px;
    line-height: 20px;
}

.input-section-third button {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0px;
    padding: 4px 16px;
    appearance: button;
    background-color: rgb(24, 24, 27);
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(250, 250, 250);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.description-third {
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(82, 82, 91);
}

.separator-third {
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.separator-third hr {
    box-sizing: border-box;
    height: 0px;
    border-top-width: 1px;
    margin: 0px;
    width: 100%;
    border-color: rgb(212, 212, 216);
}

.separator-third span {
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(82, 82, 91);
}

.section-header-third {
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.section-header-third hr {
    box-sizing: border-box;
    height: 0px;
    border-top-width: 1px;
    margin: 0px;
    width: 100%;
    border-color: rgb(212, 212, 216);
}

.section-header-third span {
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 8px;
    color: rgb(82, 82, 91);
}

.links-list-third {
    position: relative;
    --radix-scroll-area-corner-width: 0px;
    --radix-scroll-area-corner-height: 0px;
    box-sizing: border-box;
    margin-top: 24px;
    overflow: hidden;
    padding-right: 12px;
}

.links-list-third [data-radix-scroll-area-viewport] {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
}

.links-list-third [data-radix-scroll-area-viewport]::-webkit-scrollbar {
    display: none
}


/* forth */

.container-forth {
    border: 1px solid rgb(228, 228, 231);
    box-sizing: border-box;
    max-width: 672px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(228, 228, 231);
}

.header-forth {
    border-bottom-width: 1px;
    border-color: rgb(228, 228, 231);
    padding: 16px 20px;
    border: 1px solid rgb(228, 228, 231);
}

.title-forth {
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(24, 24, 27);

}

.content-forth {
    padding: 20px;
}

.toolbar-forth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
}

.buttons-forth {
    display: flex;
    align-items: center;
    gap: 12px;
}

.delete-button-forth {
    font-size: 14px;
    margin: 0px;
    padding: 4px 16px;
    appearance: button;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(239, 68, 68);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.add-button-forth {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    appearance: button;
    background-color: rgb(244, 244, 245);
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(24, 24, 27);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.icon-forth {
    display: block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    color: rgb(63, 63, 70);
}

.scroll-area-forth {
    position: relative;
    --radix-scroll-area-corner-width: 0px;
    --radix-scroll-area-corner-height: 0px;
    margin-top: 24px;
    overflow: hidden;
    padding-right: 16px;
}

.viewport-forth {
    /* overflow: hidden scroll;
    max-height: 90vh;
    width: 100%; */
}

.scroll-content-forth {
    min-width: 100%;
    display: table;
}

.item-forth {
    margin-bottom: 24px;
    border-radius: 4px;
    border-width: 1px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
}

.item-header-forth {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.question-label-forth {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    color: rgb(63, 63, 70);
}

.delete-question-button-forth {
    font-size: 14px;
    margin: 0px 0px 4px;
    padding: 0px 8px;
    appearance: button;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 6px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(239, 68, 68);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.question-textarea-forth {
    font-size: 14px;
    margin: 0px;
    padding: 4px 12px;
    resize: vertical;
    width: 100%;
    min-width: 0px;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgba(24, 24, 27, 0.1);
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 27);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(39, 39, 42, 0.05) 0px 4px 6px -1px, rgba(39, 39, 42, 0.05) 0px 2px 4px -2px;
    line-height: 20px;
}

.item-body-forth {
    margin-top: 32px;
}

.answer-label-forth {
    font-size: 14px;
    line-height: 20px;
    color: rgb(63, 63, 70);
}

.answer-textarea-forth {
    font-size: 14px;
    margin: 4px 0px 0px;
    padding: 4px 12px;
    resize: vertical;
    width: 100%;
    min-width: 0px;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgba(24, 24, 27, 0.1);
    background-color: rgb(255, 255, 255);
    color: rgb(24, 24, 27);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(39, 39, 42, 0.05) 0px 4px 6px -1px, rgba(39, 39, 42, 0.05) 0px 2px 4px -2px;
    line-height: 20px;
}


/* fifth */

.container-fifth {
    border: 1px solid rgb(229, 231, 235);
    box-sizing: border-box;
    max-width: 672px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin: 0px;
    text-align: start;
    line-height: 24px;
    font-weight: 400;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card-fifth {
    box-sizing: border-box;
    margin-bottom: 40px;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(228, 228, 231);
}

.card-header-fifth {
    box-sizing: border-box;
    border-bottom-width: 1px;
    border-color: rgb(228, 228, 231);
    padding: 16px 20px;
    border: 1px solid rgb(229, 231, 235);
}

.card-header-fifth h3 {
    box-sizing: border-box;
    margin: 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: rgb(24, 24, 27);
}

.card-body-fifth {
    padding: 20px;
}

.button-container-fifth {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect-button-fifth {
    box-sizing: border-box;
    font-size: 14px;
    margin: 0px;
    padding: 4px 16px;
    appearance: button;
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    white-space: nowrap;
    border-radius: 6px;
    border-width: 1px;
    border-color: rgb(228, 228, 231);
    line-height: 20px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.connect-button-fifth svg {
    box-sizing: border-box;
    /* display: */
}

.hidden {
    display: none;
}

.active {
    background-color: lightblue;
}

.back-clr{
    background-color: #d9e1e3;
}


/* ---------------------------------------------------
    INTEGRATION LIST CSS
----------------------------------------------------- */

.integration-col-style {
    display: flex;
    border: 1px solid #edeff1;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    margin-bottom: 1rem;
}

.integration-col-style > div {
    display: flex; /* Display children as flex items */
    align-items: center; /* Align children vertically */
}

.img-height{
    height:2.3rem
}
.blocked-div{
    cursor: not-allowed;
}


/* ---------------------------------------------------
    SETTIGS PAGE CSS
----------------------------------------------------- */

.col-md-7.right-side-menu{
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 1rem;
}

.col-md-4.left-side-menu {
    border: 1px solid #cacaca;
    border-radius: 5px;
}
li.nav-item.d-flex.align-items-center.selected-setting-item {
    width: 100%;
    background: #b9d8cc;
    border-radius: 3px;
}

.settings-label-style{
    font-size: 15px;
    line-height: 1.5;
    color: #918e8e;
}

input#flexSwitchCheckDefault {
    margin-left: -18px;
}

.dashboard-cards .card{
    height: 250px;
    border-radius: 8px;
}
.card-middle-item{
    height: 100px;
    width: 110px;
    margin-bottom: 15px;
    text-align: center;
}
.dashboard-cards .card p,
.dashboard-cards .card a{
    font-weight: 600;
}
.top-menu-bar{
 position: relative;   
}
.user-online{
    position: absolute;
    top: 4px;
    right:9px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(27, 246, 27);
}
.user-online.inactive{
    background-color: gray;
}